{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "number-leading-zero": null,
    "comment-empty-line-before": null,
    "no-descending-specificity": null,
    "scss/selector-no-redundant-nesting-selector": true,
  },
  "plugins": [
    "stylelint-scss"
  ],
}
