:root {
  // Light color set
  --color-white-light: #fff;
  --color-text-light-light: #556;
  --color-smoke-10-light: #fefefe;
  --color-smoke-30-light: #fafafa;
  --color-smoke-50-light: #f5f5f5;
  --color-smoke-70-light: #f0f0f0;
  --color-smoke-90-light: #e1e1e1;
  --color-gray-10-light: #c1c1c1;
  --color-gray-30-light: #8e8e8e;
  --color-gray-50-light: #808080;
  --color-gray-70-light: #5d5d5d;
  --color-jet-20-light: #4a4a4a;
  --color-jet-30-light: #424242;
  --color-jet-50-light: #333;
  --color-jet-70-light: #222;
  --color-jet-80-light: #191919;
  --color-black-light: #000;
  --color-blue-bonita-light: #083355;
  --color-red-bonita-light: #e22936;
  --color-unfocused-light: var(--color-smoke-70-light);
  --color-focused-light: #fff;
  --color-link-light: #1565c0;
  --color-link-hover-light: #104d92;
  --color-nav-item-light: var(--color-blue-bonita-light);
  // Dark color set
  --color-white-dark: #151a25;
  --color-text-light-dark: #556;
  --color-smoke-10-dark: #141a28;
  --color-smoke-30-dark: #161c29;
  --color-smoke-50-dark: #212a3f;
  --color-smoke-70-dark: #27314a;
  --color-smoke-90-dark: #2b3652;
  --color-gray-10-dark: #5d5d5d;
  --color-gray-30-dark: #808080;
  --color-gray-50-dark: #8e8e8e;
  --color-gray-70-dark: #c1c1c1;
  --color-jet-20-dark: #d4d4d4;
  --color-jet-30-dark: #d6d6d6;
  --color-jet-50-dark: #d8d8d8;
  --color-jet-70-dark: #dadada;
  --color-jet-80-dark: #dcdcdc;
  --color-black-dark: #fff;
  --color-blue-bonita-dark: #232f3e;
  --color-red-bonita-dark: #e22936;
  --color-unfocused-dark: #dcdcdc;
  --color-focused-dark: #fff;
  --color-link-dark: #e0cb2e;
  --color-link-hover-dark: #f9e236;
  --color-nav-item-dark: var(--color-black-dark);
  // Used color set -> Updated with light / dakr values depending on the user choice
  --color-white: var(--color-white-light);
  --color-text-light: var(--color-text-light-light);
  --color-smoke-10: var(--color-smoke-10-light);
  --color-smoke-30: var(--color-smoke-30-light);
  --color-smoke-50: var(--color-smoke-50-light);
  --color-smoke-70: var(--color-smoke-70-light);
  --color-smoke-90: var(--color-smoke-90-light);
  --color-gray-10: var(--color-gray-10-light);
  --color-gray-30: var(--color-gray-30-light);
  --color-gray-50: var(--color-gray-50-light);
  --color-gray-70: var(--color-gray-70-light);
  --color-jet-20: var(--color-jet-20-light);
  --color-jet-30: var(--color-jet-30-light);
  --color-jet-50: var(--color-jet-50-light);
  --color-jet-70: var(--color-jet-70-light);
  --color-jet-80: var(--color-jet-80-light);
  --color-black: var(--color-black-light);
  --color-blue-bonita: var(--color-blue-bonita-light);
  --color-red-bonita: var(--color-red-bonita-light);
  --color-unfocused: var(--color-unfocused-light);
  --color-focused: var(--color-focused-light);
  --color-link: var(--link-color-light);
  --color-link-hover: var(--link-color-hover-light);
  --color-nav-item: var(--color-nav-item-light);
  // End of color definition
  --rem-base: 18;
  --body-font-size: 1.0625em;
  --body-font-size--desktop: 1.125em;
  --body-font-size--print: 0.9375em;
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Roboto", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  --body-background: var(--color-white);
  --panel-background: var(--color-smoke-30);
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-thumb-color: var(--color-gray-10);
  --navbar-background: var(--color-blue-bonita);
  --navbar-font-color: var(--color-focused);
  --navbar-unfocused-font-color: var(--color-unfocused);
  --navbar-focused-font-color: var(--color-focused);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-30);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-30);
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  --caution-color: #a0439c;
  --caution-on-color: var(--color-white);
  --important-color: #d32f2f;
  --important-on-color: var(--color-white);
  --note-color: #217ee7;
  --note-on-color: var(--color-white);
  --tip-color: #41af46;
  --tip-on-color: var(--color-white);
  --warning-color: #e18114;
  --warning-on-color: var(--color-white);
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-link);
  --link_hover-font-color: var(--color-link-hover);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--color-smoke-70);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-10);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-smoke-90);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(
    var(--nav-height--desktop) - var(--drawer-height)
  );
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width: 100%;
  --doc-max-width--desktop: 100%;
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
  --border-radius: 0.3rem;
  --card-index-border: #ebf2f2;
  //Icon filter definitions, generated from https://codepen.io/sosuke/pen/Pjoqqp
  // Light icon set
  --filter-icon-light: invert(0%) sepia(98%) saturate(9%) hue-rotate(152deg) brightness(100%) contrast(102%); // black
  --filter-icon-search-light: invert(15%) sepia(13%) saturate(6139%) hue-rotate(174deg) brightness(100%) contrast(94%); // bonita blue
  // Dark icon set
  --filter-icon-dark: invert(100%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(112%) contrast(112%); // white
  --filter-icon-search-dark: invert(100%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(112%) contrast(112%); // white
  // Used icon set
  --filter-icon: var(--filter-icon-light);
  --filter-icon-search: var(--filter-icon-search-light);
}
