:root {
  // Light color set
  --color-white-light: #fff;
  --color-text-light-light: #556;
  --color-smoke-10-light: #fefefe;
  --color-smoke-30-light: #fafafa;
  --color-smoke-50-light: #f5f5f5;
  --color-smoke-70-light: #f0f0f0;
  --color-smoke-90-light: #e1e1e1;
  --color-gray-10-light: #c1c1c1;
  --color-gray-30-light: #8e8e8e;
  --color-gray-50-light: #808080;
  --color-gray-70-light: #5d5d5d;
  --color-jet-20-light: #4a4a4a;
  --color-jet-30-light: #424242;
  --color-jet-50-light: #333;
  --color-jet-70-light: #222;
  --color-jet-80-light: #191919;
  --color-black-light: #000;
  --color-blue-bonita-light: #19465f;
  --color-red-bonita-light: #dd042b;
  --color-unfocused-light: #ffffffc2;
  --color-focused-light: #fff;
  --color-link-light: #104d92;
  --color-admonition-link-light: #0077ff;
  --color-link-hover-light: #1565c0;
  --color-nav-item-light: var(--color-blue-bonita-light);
  --color-admonition-note-light: #217de7;
  --color-admonition-note-bg-light: #217de72a;
  --color-admonition-note-text-light: #0250a9;
  --color-admonition-tip-light: #41af46;
  --color-admonition-tip-bg-light: #41af462a;
  --color-admonition-tip-text-light: #2d7a30;
  --color-admonition-important-light: #d32f2f;
  --color-admonition-important-bg-light: #d32f2f2a;
  --color-admonition-important-text-light: #912020;
  --color-admonition-warning-light: #e7ba07;
  --color-admonition-warning-bg-light: #e7ba072a;
  --color-admonition-warning-text-light: #ab8800;
  --color-admonition-caution-light: #a0439c;
  --color-admonition-caution-bg-light: #a0439c2a;
  --color-admonition-caution-text-light: #5c1759;
  --color-blue-bright-light: #0fe;
  --color-card-shadow-light: #876c6c;
  --color-higlight-light: var(--color-blue-bonita-light);
  --color-higlight-link-light: #005889;
  --color-footer-light: #e6e6e6;
  --color-card-border-light: #ebf2f2;
  --color-code-background-light: #f9f2f4;
  --color-code-font-light: #c7254e;
  --color-info-custom-message-bg-light: #d8eaff;
  --color-important-custom-message-bg-light: #edd3d3;
  // Dark color set
  --color-white-dark: #151a25;
  --color-text-light-dark: #556;
  --color-smoke-10-dark: #141a28;
  --color-smoke-30-dark: #161c29;
  --color-smoke-50-dark: #212a3f;
  --color-smoke-70-dark: #27314a;
  --color-smoke-90-dark: #2b3652;
  --color-gray-10-dark: #5d5d5d;
  --color-gray-30-dark: #808080;
  --color-gray-50-dark: #8e8e8e;
  --color-gray-70-dark: #c1c1c1;
  --color-jet-20-dark: #aaa;
  --color-jet-30-dark: #b0b0b0;
  --color-jet-50-dark: #ccc;
  --color-jet-70-dark: #ddd;
  --color-jet-80-dark: #eee;
  --color-black-dark: #fff;
  --color-blue-bonita-dark: #2a2f43;
  --color-red-bonita-dark: #ca4a53;
  --color-unfocused-dark: #dcdcdcc2;
  --color-focused-dark: #fff;
  --color-link-dark: #00d9ff;
  --color-admonition-link-dark: var(--color-link-dark);
  --color-link-hover-dark: #00d9ffb5;
  --color-nav-item-dark: var(--color-black-dark);
  --color-admonition-note-dark: #11386a;
  --color-admonition-note-bg-dark: #11386a4f;
  --color-admonition-note-text-dark: #8abbfb;
  --color-admonition-tip-dark: #265b37;
  --color-admonition-tip-bg-dark: #265b374f;
  --color-admonition-tip-text-dark: #7be1b2;
  --color-admonition-important-dark: #642d2d;
  --color-admonition-important-bg-dark: #642d2d4f;
  --color-admonition-important-text-dark: #fb8a8a;
  --color-admonition-warning-dark: #8b6e25;
  --color-admonition-warning-bg-dark: #8b6e254f;
  --color-admonition-warning-text-dark: #d4ca73;
  --color-admonition-caution-dark: #652e7c;
  --color-admonition-caution-bg-dark: #652e7c4f;
  --color-admonition-caution-text-dark: #fb8af6;
  --color-blue-bright-dark: #0fe;
  --color-card-shadow-dark: #2e2e2e;
  --color-higlight-dark: #9ed4ff;
  --color-higlight-link-dark: var(--color-higlight-dark);
  --color-footer-dark: var(--color-blue-bonita-dark);
  --color-card-border-dark: #9ba9c6;
  --color-code-background-dark: #30334b;
  --color-code-font-dark: #f7962e;
  --color-info-custom-message-bg-dark: #102541;
  --color-important-custom-message-bg-dark: #342121;
  // End of color definition
  --rem-base: 18;
  --body-font-size: 1.0625em;
  --body-font-size--desktop: 1.125em;
  --body-font-size--print: 0.9375em;
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Open Sans", sans-serif;
  --body-font-weight-bold: 550;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 700;
  --body-background: var(--color-white);
  --panel-background: var(--color-smoke-30);
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-thumb-color: var(--color-gray-10);
  --navbar-background: var(--color-blue-bonita);
  --navbar-font-color: var(--color-focused);
  --navbar-unfocused-font-color: var(--color-unfocused);
  --navbar-focused-font-color: var(--color-focused);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-30);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-30);
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--color-higlight);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-link);
  --link_hover-font-color: var(--color-link-hover);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--color-smoke-70);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--color-code-background);
  --code-font-color: var(--color-code-font);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-10);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-smoke-90);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(150 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width: 100%;
  --doc-max-width--desktop: 100%;
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
  --border-radius: 0.3rem;
  //Icon filter definitions, generated from https://codepen.io/sosuke/pen/Pjoqqp
  // Light icon set
  --filter-icon-light: invert(0%) sepia(98%) saturate(9%) hue-rotate(152deg) brightness(100%) contrast(102%); // black
  --filter-icon-search-light: invert(15%) sepia(13%) saturate(6139%) hue-rotate(174deg) brightness(100%) contrast(94%); // bonita blue
  --filter-logo-footer-light: invert(0); // keep it as it is
  // Dark icon set
  --filter-icon-dark: invert(100%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(112%) contrast(112%); // white
  --filter-icon-search-dark: invert(100%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(112%) contrast(112%); // white
  --filter-logo-footer-dark: brightness(0) invert(1); // full white
}
