// grid layout

.card-section .sectionbody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1rem;
}

.card-section-2col .sectionbody {
  grid-template-columns: repeat(auto-fill, minmax(calc(max(50% - 0.5rem, 250px)), 1fr));
}

.card-section .sectionbody > :not(.card) {
  grid-column: 1 / -1;
}

.card {
  .content, .paragraph, p {
    display: inline;
  }
}

.card a {
  display: block;
  height: 100%;
  width: 100%;
}

// inner card layout

.card a {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1.2rem;

  .card-body {
    flex-grow: 1;
  }
}

.card-title, .card-body {
  display: block;
}

// styling

.card a {
  border-radius: var(--border-radius);
  color: inherit;
  text-decoration: none;
  font-size: .9rem;

  .card-title {
    font-family: var(--heading);
    font-weight: var(--weight-bold);
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.2rem;
  }
}

// styling learn

.card-learn a {
  border: solid 1px #cacbcc;
  border-left: solid 3px #53536B;
  color: var(--color-text-light);

  .card-title {
    margin-bottom: .8rem;
  }

  &:hover {
    border-color: #B8BFF4;
    border-left-color: #4E5EE4;
    box-shadow: 0 6px 12px 0 rgba(60, 60, 60, 0.09);

    .card-title {
      color: #4E5EE4;
    }
  }
}

// styling product cards

.card-primary + .card-secondary {
  grid-column-start: 1; // show secondary cards in a separate line
}

.card-primary a, .card-secondary a {
  box-shadow: 0 5px 10px 0 rgba(60, 60, 60, 0.1);

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(60, 60, 60, 0.3);
  }

  .card-title::before {
    content: "";
    background-image: var(--card-icon);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: .6em;
  }
}

.card-primary a {
  min-height: 17rem;
  color: white;
  position: relative;
  padding-top: 3em;
  padding-bottom: 2em;
  overflow: hidden; // hide background image

  .card-title {
    font-size: 1.2em;
  }

  &::before {
    display: block;
    width: 95px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    right: -20px;
    content: "";
    background-image: url(../img/icons/cards.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: "Get started >";
    font-family: var(--heading);
    font-weight: var(--weight-bold);
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.card-secondary a {
  border: solid 1px #e9e9ed;
  color: var(--color-text-light);

  &:hover {
    border-color: #dfdfe0;
  }
}

.card-release-note a {
  --card-icon: url(../img/icons/notebook.svg);

  background-image: linear-gradient(-134deg, #3677ff 0%, #1ecff7 100%);
}

.card-upgrades-js a {
  --card-icon: url(../img/icons/sdk_white.svg);

  background-image: linear-gradient(45deg, #15ABE9 0%, #075e80 100%);
}

.card-defender a {
  background-image: linear-gradient(-135deg, #085877 0%, #003541 100%);
}

.card-download a {
  --card-icon: url(../img/icons/download.svg);
}
