html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: var(--body-font-size);
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  height: 100%;
  line-height: var(--body-line-height);
  margin: 0;
}

* {
  box-sizing: inherit;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }

  // Smooth transitions between themes
  --duration: 1s;
  --timing: ease;
  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--body-font-size--desktop);
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    background-color: none;
  }
}

code {
  font-family: var(--monospace-font-family);
}

kbd {
  font-family: var(--monospace-font-family);
}

pre {
  font-family: var(--monospace-font-family);
}

b {
  font-weight: var(--body-font-weight-bold);
}

dt {
  font-weight: var(--body-font-weight-bold);
}

strong {
  font-weight: var(--body-font-weight-bold);
  color: var(--color-jet-70);

  strong {
    font-weight: normal;
  }
}

th {
  font-weight: var(--body-font-weight-bold);
}

em {
  em {
    font-style: normal;
  }
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: var(--body-line-height);
  margin: 0;

  &:-moz-focus-inner {
    border: none;
    padding: 0;
  }
}
