html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: var(--body-font-size);
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  height: 100%;
  line-height: var(--body-line-height);
  margin: 0;
}

* {
  box-sizing: inherit;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }
}

// TODO simplify syntax with SCSS
// Smooth transitions between themes
body.theme-transition {
.article, // body
.doc .conum, // AsciiDoc Callouts
.doc .exampleblock .content, // raw block
.doc .quoteblock, // raw block
.doc .sidebarblock, // raw block
.doc .verseblock, // raw block
.nav, // TODO check if this applies the transition several times in inner elements
.nav .context, // Components selector (title)
.nav .components, // Components selector (list)
.toolbar,
.hljs, // for highligtjs block
.content .tabs .tabpanel, // AsciiDoc tabs
.content .tabs .tab, // AsciiDoc tabs
.DocSearch-Button,  // .DocSearch-Button-Key uses a gradient, so not considered for now
footer,
footer a, // Privacy and "Legal notices"
// home and top right icons in the toolbar/breadcrumb: use filter, so not considered for now
{
    --duration: 2s;
    --timing: ease;
    transition:
      color var(--duration) var(--timing),
      background-color var(--duration) var(--timing);
}
}

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--body-font-size--desktop);
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    background-color: none;
  }
}

code {
  font-family: var(--monospace-font-family);
}

kbd {
  font-family: var(--monospace-font-family);
}

pre {
  font-family: var(--monospace-font-family);
}

b {
  font-weight: var(--body-font-weight-bold);
}

dt {
  font-weight: var(--body-font-weight-bold);
}

strong {
  font-weight: var(--body-font-weight-bold);
  color: var(--color-jet-70);

  strong {
    font-weight: normal;
  }
}

th {
  font-weight: var(--body-font-weight-bold);
}

em {
  em {
    font-style: normal;
  }
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: var(--body-line-height);
  margin: 0;

  &:-moz-focus-inner {
    border: none;
    padding: 0;
  }
}
