footer {
  display: block;
  background-color: var(--color-blue-bonita);
  color: var(--color-focused);
  padding: 5rem;
  padding-bottom: 2rem;

  .footer-header {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 1.3rem;
      font-weight: normal;
      margin-right: 1rem;
      text-align: center;
    }

    input {
      height: 2rem;
      border: none;
      padding: 1rem;
      width: 15rem;
      margin: 0;

      &::placeholder {
        font-size: 0.7rem;
      }
    }

    button {
      height: 2rem;
      border: none;
      margin: 0;
      font-size: 0.7rem;
      background-color: var(--color-red-bonita);
      color: var(--color-focused);
      font-weight: bold;
    }
  }

  .footer-body {
    display: block;

    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      padding: 0 5rem;

      p {
        line-height: 1.2rem;
      }
    }

    .social-links,
    .footer-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      ul {
        list-style-type: none;

        li {
          display: inline;
          padding: 0 1rem;
          font-size: 0.8rem;

          a {
            color: var(--color-focused);
            text-decoration: none;

            svg {
              height: 1.2rem;
              width: 1.2rem;
              fill: var(--color-focused);
            }
          }
        }
      }

      .border-right li {
        border-right: 0.1rem solid var(--color-focused);
        line-height: 0.2rem;

        &:last-child {
          border-right: none;
        }
      }
    }

    .footer-footer {
      display: block;
      font-size: 0.7rem;

      a {
        text-decoration: none;
        color: var(--color-focused);
      }

      .footer-bonita-logo {
        background: url(../img/bonitasoft-logo.svg) no-repeat;
        background-size: contain;
        height: 2rem;
        width: 7rem;
        margin: 1rem auto;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 1rem 2rem;

    .footer-header {
      flex-direction: column;

      h3 {
        margin-right: 0;
      }

      input {
        width: 100%;

        &::placeholder {
          text-align: center;
        }
      }

      button {
        margin-top: 1rem;
        width: 100%;
      }
    }

    .footer-body {
      margin-top: 1rem;

      .footer-content {
        padding: 0;
      }

      .social-links {
        ul {
          padding: 0;
        }
      }
    }
  }
}
