footer {
  display: block;
  background-color: var(--color-blue-bonita);
  color: var(--color-white);
  padding: 5rem;
  padding-bottom: 2rem;

  .footer-header {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 1.3rem;
      font-weight: normal;
      margin-right: 1rem;
    }

    input {
      height: 2rem;
      border: none;
      padding: 1rem;
      width: 15rem;
      margin: 0;

      &::placeholder {
        font-size: 0.7rem;
      }
    }

    button {
      height: 2rem;
      border: none;
      margin: 0;
      margin-right: 0.5rem;
      font-size: 0.7rem;
      background-color: var(--color-red-bonita);
      color: var(--color-white);
    }
  }

  .footer-body {
    display: block;

    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      padding: 0 5rem;

      p {
        line-height: 1.2rem;
      }
    }
    .social-links,
    .footer-footer {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        list-style-type: none;

        li {
          display: inline;
          padding: 0 1rem;
          font-size: 0.8rem;

          a {
            color: var(--color-white);
            text-decoration: none;

            svg {
              height: 1.2rem;
              width: 1.2rem;
              fill: var(--color-white);
            }
          }
        }
      }

      .border-right li {
        border-right: 0.1rem solid var(--color-white);
        line-height: 0.2rem;

        &:last-child {
          border-right: none;
        }
      }
    }

    .footer-footer {
      font-size: 0.6rem;

      a {
        text-decoration: none;
        color: var(--color-white);
      }
    }
  }
}
