html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

/*******************
******* Logo *******
********************/

.bonita-logo {
  background: url(../img/bonitasoft-logo.svg) no-repeat 50% 45%;
  background-size: contain;
  display: block;
  height: 3.5rem;
  padding: 0;
  width: 9.5rem;
}

/*******************
****** Navbar ******
********************/

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);

  .button {
    display: inline-flex;
    align-items: center;
    background: var(--navbar-button-background);
    border: 1px solid var(--navbar-button-border-color);
    border-radius: 0.15rem;
    height: 1.75rem;
    color: var(--navbar-button-font-color);
    padding: 0 0.75em;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
  }
  .pr-link{
    color: var(--navbar-unfocused-font-color);
  }
  
}

.navbar-nonProduction {
  background: var(--color-red-bonita);

  .navbar-item-nonProduction {
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    line-height: var(--doc-line-height);
    padding: 0 0.5rem;
    position: relative;
    color: var(--color-unfocused);
    flex-grow: 1;
  }
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  height: var(--navbar-height);

  .navbar-item:first-child,
  .navbar-item:first-child a {
    color: var(--navbar-font-color);
    font-size: calc(22 / var(--rem-base) * 1rem);
  }
}

/************************
****** Navbar menu ******
*************************/

.search-icon {
  background: url(../img/search.svg) no-repeat;
  background-size: contain;
  display: block;
  height: 1rem;
  padding: 0;
  width: 1rem;
  opacity: inherit;
  filter: var(--filter-icon-search); // On large screen the search is on the toolbar, which is always dark
}

.navbar-item {
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem;
  position: relative;
  flex: none;
  color: var(--color-white);
}

/*******************
****** Burger ******
********************/

.navbar-burger {
  color: var(--navbar-font-color);
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  height: var(--navbar-height);
  position: relative;
  width: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    background: var(--navbar-font-color);
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    width: 15px;
  }

  span:nth-child(1) {
    margin-top: -6px;
  }

  span:nth-child(2) {
    margin-top: -1px;
  }

  span:nth-child(3) {
    margin-top: 4px;
  }

  .is-active span:nth-child(1) {
    margin-left: -5px;
    transform: rotate(45deg);
    transform-origin: left top;
  }

  .is-active span:nth-child(2) {
    opacity: 0;
  }

  .is-active span:nth-child(3) {
    margin-left: -5px;
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
}

/******************   */
/***** Search ******/
/******************   */

.search-bar {
  font-family: inherit;
  font-size: 0.85rem;
  background-color: transparent;
  color: var(--color-focused);
  border: none;
  border-bottom: 1px solid var(--color-unfocused);
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.8;
  width: 15rem;
  opacity: 1;

  &::placeholder {
    color: var(--navbar-unfocused-font-color);
    font-style: italic;
  }
}

/**************************
********* TOGGLE THEME ****
***************************/

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
}

.theme-switch-container {
  background-color: transparent;
  color: var(--navbar-menu-font-color);
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  opacity: 0.85;
  border-radius: 5rem;
  height: 2.2rem;
  width: 2.2rem;
  border-width: 0;
  padding: 0;
  cursor: pointer;

  &:hover, &:focus {
    opacity: 1;
    box-shadow: 0 0 5px 3px var(--color-blue-bright);
  }
}

.theme-selector {
  display: none;
  width: 70%;
  height: 70%;
  background-color: var(--navbar-unfocused-font-color);
}

html[data-theme-system="true"] .theme-selector-system {
  display: block;
  // based on https://fonts.google.com/icons?icon.query=routine&icon.set=Material+Symbols&selected=Material+Symbols+Outlined:routine:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23e8eaed
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M396-396q-32-32-58.5-67T289-537q-5 14-6.5 28.5T281-480q0 83 58 141t141 58q14 0 28.5-2t28.5-6q-39-22-74-48.5T396-396Zm57-56q51 51 114 87.5T702-308q-40 51-98 79.5T481-200q-117 0-198.5-81.5T201-480q0-65 28.5-123t79.5-98q20 72 56.5 135T453-452Zm290 72q-20-5-39.5-11T665-405q8-18 11.5-36.5T680-480q0-83-58.5-141.5T480-680q-20 0-38.5 3.5T405-665q-8-19-13.5-38T381-742q24-9 49-13.5t51-4.5q117 0 198.5 81.5T761-480q0 26-4.5 51T743-380ZM440-840v-120h80v120h-80Zm0 840v-120h80V0h-80Zm323-706-57-57 85-84 57 56-85 85ZM169-113l-57-56 85-85 57 57-85 84Zm671-327v-80h120v80H840ZM0-440v-80h120v80H0Zm791 328-85-85 57-57 84 85-56 57ZM197-706l-84-85 56-57 85 85-57 57Zm199 310Z"/></svg>') no-repeat center / contain;
}

html[data-theme-system="false"][data-theme="dark"] .theme-selector-dark  {
  display: block;
  // based on https://fonts.google.com/icons?icon.query=dark&icon.set=Material+Symbols&selected=Material+Symbols+Outlined:dark_mode:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23e8eaed
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z"/></svg>') no-repeat center / contain;
}

html[data-theme-system="false"][data-theme="light"] .theme-selector-light {
  display: block;
  // based on https://fonts.google.com/icons?icon.query=sunny&icon.set=Material+Symbols&selected=Material+Symbols+Outlined:wb_sunny:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23e8eaed
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-800v-120h80v120h-80Zm0 760v-120h80v120h-80Zm360-400v-80h120v80H800Zm-760 0v-80h120v80H40Zm708-252-56-56 70-72 58 58-72 70ZM198-140l-58-58 72-70 56 56-70 72Zm564 0-70-72 56-56 72 70-58 58ZM212-692l-72-70 58-58 70 72-56 56Zm268 452q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-80q67 0 113.5-46.5T640-480q0-67-46.5-113.5T480-640q-67 0-113.5 46.5T320-480q0 67 46.5 113.5T480-320Zm0-160Z"/></svg>') no-repeat center / contain;
}


/**************************
****** Media Queries ******
***************************/

/* Colors for large screens */
@media screen and (min-width: 1024px) {
  .navbar-menu {
    > .navbar-item {
      color: var(--navbar-unfocused-font-color);

      &:hover {
        border-top: 4px solid var(--color-red-bonita);
      }

      a:hover {
        color: var(--navbar-focused-font-color);
      }
    }

    .navbar-link {
      color: var(--navbar-unfocused-font-color);

      &::after {
        border-color: var(--navbar-unfocused-font-color);
        text-decoration: underline;
      }
    }
  }
}
/* Colors for small screens */
@media screen and (max-width: 1023px) {
  .navbar-menu-mobile {
    background: var(--color-smoke-50);

    .navbar-item {
      background-color: var(--color-white);
      border: 2px solid var(--color-white);
      border-radius: 5px;
      margin: 10px;
      box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    }

    .navbar-link {
      font-weight: bold;
    }

    .navbar-link,
    .navbar-item a {
      color: var(--color-nav-item);
    }

    > a.navbar-item:hover,
    .navbar-link:hover,
    .navbar-item:hover,
    .navbar-menu-mobile .navbar-item:hover a {
      background-color: var(--color-nav-item);

      .navbar-link {
        color: var(--color-white);
      }
    }
  }

  .navbar-menu-mobile.is-active {
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  }
}

/* Layout for large screens */
@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar-menu {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .navbar-menu-mobile {
    display: none;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item {
    align-items: center;
    display: flex;
  }

  a.navbar-item:hover {
    background-color: var(--navbar-unfocused-font-color);
    color: var(--color-blue-bonita);
  }

  .input-container {
    // input container will probably need to be removed
    display: none;
  }
}

/* Layout for small screens */
@media screen and (max-width: 1023px) {
  .navbar {
    display: flex;
  }

  .navbar-end {
    display: flex;
    align-items: center;
  }


  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }

  .navbar-brand {
    flex-grow: 1;
  }

  .bonita-logo {
    background: url(../img/bonitasoft-logo.svg) no-repeat 50% 45%;
    opacity: 1;
    background-size: contain;
  }

  .search-item {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu-mobile {
    display: none;
  }

  .navbar-menu-mobile,
  .navbar-end {
    padding: 0.5rem 0;
  }

  .navbar-menu-mobile.is-active {
    display: block;
    position: fixed;
    width: 100%;
    z-index: var(--z-index-mobile-menu);
  }

  summary {
    padding-left: 10px;
    margin-bottom: 10px;
  }

  summary:focus {
    outline-style: none;
  }

  summary .navbar-link {
    padding: 0;
    display: inline;
  }

  .search-bar {
    line-height: 1.8;
    width: 100%;
    opacity: 1;
    border: none;

    &::placeholder {
      color: var(--color-gray-70);
      font-style: italic;
    }
  }

  .label span {
    height: 1rem;
  }

  .navbar-nonProduction .hidden-xs {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }
}
