/* inspired by https://loading.io/css/ (CC0 License) */
/* loader */

.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 26px;
  height: 26px;
  margin: -1px;
  border-radius: 50%;
  border: 6px solid;
  border-color: rgba(0, 0, 0, .5) transparent rgba(0, 0, 0, .5) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
