$shiny-blue: rgba(157, 194, 219, 0.89);
$nice-blue: rgb(54, 147, 209);

/* Parent Container */
.search-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;

  fieldset {
    outline: 0;
    border: 0;
    position: relative;
    width: 100%;
  }

  #search-bar {
    height: 2.8em;
    width: 2.2em;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    color: var(--color-white);
    background-color: inherit;
    right: 0;
    top: -0.9em;
    position: absolute;
    box-shadow: 0 3px 19px 3px rgba(15, 15, 15, 0.2);
    transition: all, 0.7s;

    //on Focus Expand it
    &:focus {
      outline: 0;
      width: 100%;
      background-color: var(--color-white);
      border: 1px solid var(--color-blue-bonita);
      color: var(--color-blue-bonita);
      padding: 10px;

      &::-webkit-input-placeholder {
        opacity: 0.8;
      }
    }

    /* Add placeholder style (Only for Chrome) */
    &::-webkit-input-placeholder {
      /* Start hidden since the input is shrunk */
      opacity: 0;
      font-size: 16px;
      color: var(--color-blue-bonita);
      width: 1px;
    }
  }

  &:focus-within {
    width: 100%;

    .icons-container #search-icon {
      border-color: var(--color-blue-bonita);

      &::after {
        background-color: var(--color-blue-bonita);
        border-color: var(--color-blue-bonita);
      }
    }
  }

  .icons-container {
    /* Absolute positioning for putting it inside the input to look like a button icon */
    position: absolute;
    top: -0.7em;
    right: 0.1rem;
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    /* We create the Search Icon with borders and the after CSS peudo-element */
    #search-icon {
      /* Search icon (Circle) */
      position: relative;
      width: 60%;
      height: 60%;
      opacity: 1;
      border-radius: 50%;
      border: 3px solid var(--color-white);
      transition: opacity 0.25s ease, transform 0.43s ease-in-out;
      /* Search Icon (line) */
      &::after {
        content: "";
        position: absolute;
        bottom: -9px;
        right: -2px;
        width: 4px;
        border-radius: 3px;
        transform: rotate(-35deg);
        height: 10px;
        background-color: var(--color-white);
      }
    }
  }
}
