@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 100;
  src: url(../font/PPNeueMontreal-Thin.otf) format("opentype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 300;
  src: url(../font/PPNeueMontreal-Light.otf) format("opentype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 350;
  src: url(../font/PPNeueMontreal-Book.otf) format("opentype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  src: url(../font/PPNeueMontreal-Regular.otf) format("opentype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 500;
  src: url(../font/PPNeueMontreal-Medium.otf) format("opentype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 600;
  src: url(../font/PPNeueMontreal-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 700;
  src: url(../font/PPNeueMontreal-Bold.otf) format("opentype");
}
