@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 200;
  src: local("PP Neue Montreal Thin"), url(../font/ppneuemontreal-thin.woff) format("woff");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  src: local("PP Neue Montreal Book"), url(../font/ppneuemontreal-book.woff) format("woff");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: 400;
  src: local("PP Neue Montreal Italic"), url(../font/ppneuemontreal-italic.woff) format("woff");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 500;
  src: local("PP Neue Montreal Medium"), url(../font/ppneuemontreal-medium.woff) format("woff");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: 600;
  src: local("PP Neue Montreal SemiBold Italic"), url(../font/ppneuemontreal-semibolditalic.woff) format("woff");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 700;
  src: local("PP Neue Montreal Bold"), url(../font/ppneuemontreal-bold.woff) format("woff");
}
