<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="bonita-logo" href="{{{or site.url (or siteRootUrl siteRootPath)}}}"></a>
      </div>

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-item is-hoverable">
        <a href="#" class="navbar-link">Getting started</a>
      </div>
      <div class="navbar-item is-hoverable">
        <a href="#" class="navbar-link">Community</a>
      </div>
      {{#each site.components}}
      <div class="navbar-item is-hoverable">
        <a class="navbar-link" href="#">{{{./title}}}</a>
      </div>
      {{/each}}
    </div>

    <div class="navbar-item search-item hide-for-print">
      {{!-- Algolia search bar --}}
      <input type="text" placeholder="Search Docs" class="search-bar query ds-input" id="search-query">
      <i class="search-icon" aria-hidden="true"></i>
    </div>
  </nav>
</header>