<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="bonita-logo" href="{{{or site.url (or siteRootUrl siteRootPath)}}}"></a>
      </div>

      <div class="navbar-item search-item hide-for-print">
        {{!-- Algolia search bar --}}
        <input type="text" placeholder="Search Docs" class="search-bar query ds-input" id="search-query">
        <i class="search-icon" aria-hidden="true"></i>
      </div>

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item-orphan is-hoverable">
          <a href="#" class="">Getting started</a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item-orphan is-hoverable">
          <a href="#" class="">Community</a>
        </div>
      </div>

      <div class="navbar-end">
        {{#each site.components}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">{{{./title}}}</a>
          <div class="navbar-dropdown">
            {{#each ./versions}}
            <a class="navbar-item" href="{{{relativize ./url}}}">{{./displayVersion}}</a>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </nav>
</header>
