<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
{{> nav-menu}}
{{> nav-explore}}
    </div>
  </aside>
  <button class="sidebar-toggle" id="sidebar-toggle" aria-label="Toggle sidebar" tabindex="0">
    <i class="fa-solid fa-chevron-left sidebar-toggle-icon"></i>
  </button>
</div>
