<a class="page-icon" href="{{{editUrlToCommitsUrl page.editUrl}}}">
  <img src="{{{uiRootPath}}}/img/history.svg" title="History of this page" alt="History" height="17">
</a>
<a class="page-icon" href="https://github.com/bonitasoft/bonita-documentation-site/blob/master/docs/content/CONTRIBUTING.adoc">
  <img src="{{{uiRootPath}}}/img/info.svg" title="How to contribute" alt="Contribution" height="17">
</a>
