{{#unless (eq page.attributes.pagination undefined)}}
{{#if (or page.previous page.next)}}
<nav class="pagination">
  {{#with page.previous}}
  <a class="pagination-nav prev" href="{{{relativize ./url}}}">
    <div class="pagination-nav__sublabel">Previous</div>
    <div class="pagination-nav__label">{{{./content}}}</div>
  </a>
  {{/with}}
  {{#with page.next}}
  <a class="pagination-nav next" href="{{{relativize ./url}}}">
     <div class="pagination-nav__sublabel">Next</div>
     <div class="pagination-nav__label">{{{./content}}}</div>
  </a>
  {{/with}}
</nav>
{{/if}}
{{/unless}}
