html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

.navbar a {
  text-decoration: none;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  height: var(--navbar-height);
}

.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  color: var(--navbar-font-color);
  font-size: calc(22 / var(--rem-base) * 1rem);
}

.navbar-brand .separator {
  padding: 0 0.375rem;
}

.navbar-brand .navbar-item + .navbar-item {
  -ms-flex-positive: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.navbar-dropdown {
  background-color: var(--navbar-background);
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

.bonita-logo {
  background: url(../img/bonitasoft-logo.svg) no-repeat 50% 45%;
  background-size: contain;
  display: block;
  height: 3.5rem;
  padding: 0;
  width: 9.5rem;
  opacity: 0.6;
}

.bonita-logo:hover {
  opacity: 1;
}

/******************   */
/***** Burger ******/
/******************   */

.navbar-burger {
  color: var(--navbar-font-color);
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  height: var(--navbar-height);
  position: relative;
  /* width: var(--navbar-height); */
  width: 2.75rem;
  margin-left: auto;
  padding: 0;
}

.navbar-burger span {
  background: var(--navbar-font-color);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

/***********************   */
/***** Navbar item ******/
/***********************   */

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link,
.navbar-item-orphan {
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
  position: relative;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-item {
  flex: none;
  color: var(--color-white);
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/******************   */
/***** Search ******/
/******************   */

.search-bar {
  font-family: inherit;
  font-size: 0.85rem;
  background-color: transparent;
  color: var(--navbar-font-color);
  border: none;
  border-bottom: 1px solid var(--navbar-font-color);
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.8;
  width: 20rem;
  opacity: 1;
}

.search-bar::placeholder {
  color: var(--navbar-unfocused-font-color);
  font-style: italic;
}

.search-icon {
  background: url(../img/search.svg) no-repeat;
  background-size: contain;
  display: block;
  height: 1rem;
  padding: 0;
  width: 5rem;
  opacity: inherit;
}

.search-item {
  opacity: 0.6;
}

.search-item:focus-within,
.search-item:hover {
  opacity: 1;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  max-height: calc(100vh - 3.25rem);
}

/*************************   */
/***** Media Queries ******/
/*************************   */

/* Colors for large screens */
@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item,
  .navbar-end .navbar-link,
  .navbar-end .navbar-item-orphan a {
    color: var(--navbar-unfocused-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover,
  .navbar-end .navbar-item-orphan:hover,
  .navbar-item.has-dropdown:hover .navbar-link {
    color: var(--color-white);
    border-top: 4px solid var(--navbar-unfocused-font-color);
  }

  .navbar-end .navbar-item-orphan a:hover {
    color: var(--color-white);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--navbar-unfocused-font-color);
    text-decoration: underline;
  }
}

/* Colors for small screens */
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background: var(--color-smoke-30);
  }

  .navbar-menu.is-active {
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  }

  .navbar-end > .navbar-item-orphan {
    display: none;
  }

  .navbar-dropdown .navbar-item {
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  }

  .navbar-end .navbar-link {
    font-weight: bold;
  }

  .navbar-dropdown {
    background-color: transparent;
  }

  .navbar-end > .navbar-item,
  .navbar-end .navbar-link,
  .navbar-dropdown .navbar-item,
  .navbar-end .navbar-item-orphan a {
    color: var(--color-blue-bonita);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover,
  .navbar-end .navbar-item-orphan:hover,
  .navbar-end .navbar-item-orphan:hover a,
  .navbar-dropdown .navbar-item:hover {
    color: var(--color-white);
    background-color: var(--color-blue-bonita);
  }
}

/* Layout for large screens */
@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar-brand {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .navbar-menu {
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,
  .navbar-link,
  .navbar-item-orphan {
    align-items: center;
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-dropdown {
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background-color: var(--navbar-unfocused-font-color);
    color: var(--color-blue-bonita);
  }
}

/* Layout for small screens */
@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-brand .search-item {
    display: none;
  }

  .navbar-menu {
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
    max-height: var(--nav-height);
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }

  .algolia-autocomplete .ds-dropdown-menu {
    min-width: calc(100vw - 2.75rem) !important;
  }
}
