name: Build

on:
  push:
    branches: [ master ]
    paths:
      - 'package-lock.json'
      - 'src/*'
      - 'preview-src/*'
      - '.github/actions/build-setup/*'
      - '.github/workflows/build-artifacts.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'package-lock.json'
      - 'src/*'
      - 'preview-src/*'
      - '.github/actions/build-setup/*'
      - '.github/workflows/build-artifacts.yml'

# TODO permissions for artifacts upload
#permissions:
#  contents: write

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Build Setup
        uses: ./.github/actions/build-setup
      - name: Install dependencies
        run: npm ci
      - name: Bundle documentation theme
        run: gulp bundle
      - name: Upload UI bundle
        uses: actions/upload-artifact@v2
        with:
          name: ui-bundle-${{github.sha}}
          path: build/ui-bundle.zip
          retention-days: 7
      - name: Build preview
        run: gulp preview:build
      - name: Upload preview
        uses: actions/upload-artifact@v2
        with:
          name: ui-preview-${{github.sha}}
          path: public
          retention-days: 7
