name: Start release process

on:
  workflow_dispatch:
    inputs:

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3.2.0
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.52.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_DOC_TRIGGER_WF }}
          WITH_V: true
