name: Build PR preview

on:
  pull_request:
    # To manage 'surge-preview' action teardown, add default event types + closed event type
    types: [opened, synchronize, reopened, closed]
    branches:
      - master
    paths:
      - 'package.json'
      - 'package-lock.json'
      - 'src/**/*'
      - 'preview-src/**/*'
      - '.github/actions/build-setup/**/*'
      - '.github/workflows/publish-pr-preview.yml'

permissions:
  # surge-preview creates or updates PR comments about the deployment status
  pull-requests: write

jobs:
  build_preview:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        if: github.event.action != 'closed'
      - name: Build Setup
        uses: ./.github/actions/build-setup
        if: github.event.action != 'closed'
      - name: Compute environment variables
        if: github.event.action != 'closed'
        run: |
          # the surge-preview action generates https://{{repository.owner}}-{{repository.name}}-{{job.name}}-pr-{{pr.number}}.surge.sh
          repo_owner_and_name=$(echo "${{github.repository}}" | sed 's/\//-/g')
          echo PREVIEW_URL=https://$repo_owner_and_name-"${{github.job}}"-pr-"${{github.event.pull_request.number}}".surge.sh >> $GITHUB_ENV
      - name: Publish preview
        id: preview_step
        uses: afc163/surge-preview@v1
        env:
          BONITA_THEME_URL: ${{ env.PREVIEW_URL }}
        with:
          surge_token: ${{ secrets.SURGE_TOKEN_DOC }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dist: public
          failOnError: true
          teardown: 'true'
          build: |
            npm run preview:build
