name: Generate theme example

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'gulpfile.js'
      - 'package.json'
      - 'package-lock.json'
      - 'gulp.d/**/*'
      - 'src/**/*'
      - 'preview-src/**/*'
      - '.github/actions/build-setup/**/*'
      - '.github/workflows/publish-online-example.yml'

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Build Setup
        uses: ./.github/actions/build-setup
      - name: Build bundle
        run: npm run bundle
      - name: Build Showroom site
        run: npm run build:showroom
        env:
          # override Antora site url, https://docs.antora.org/antora/latest/playbook/environment-variables/#site-url
          URL: 'https://bonitasoft.github.io/bonita-documentation-theme/'
      - name: Upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: build/site

  deploy:
    needs: build
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      contents: read
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
      actions: read # to download an artifact uploaded by `actions/upload-pages-artifact@v3`
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
